<div class="desktop-max-width padding">
  <app-section-header class="d-none d-lg-block"></app-section-header>
  <form>
    <ion-item>
      <ion-label floating>{{'ACCOUNT.WALLET_PASS.ENTER_PASS' | translate}}</ion-label>
      <ion-input type="password" name="oldPassword" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="!passwordExist">
      <ion-label floating>{{'ACCOUNT.WALLET_PASS.RE_ENTER_PASS' | translate}}</ion-label>
      <ion-input type="password" name="newPassword" [(ngModel)]="confirmedPassword"></ion-input>
    </ion-item>
  </form>
  <div class="buttons">
    <button ion-button (click)="setPassword()" *ngIf="!isPasswordSet()">
      {{'ACCOUNT.WALLET_PASS.SET_PASS' | translate}}
    </button>
    <button ion-button color="danger" (click)="removePassword()" *ngIf="isPasswordSet()">
      {{'ACCOUNT.WALLET_PASS.REMOVE_PASS' | translate}}
    </button>
  </div>
</div>
