<ion-header>
  <ion-toolbar>
    <ion-title>
      {{data.title | translate:data.translateParams}}
    </ion-title>
    <ion-buttons *ngIf="!disallowCancel" start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <span class="text">{{data.text | translate:data.translateParams}}</span>
    <div class="buttons">
      <div class="button-wrapper" [ngClass]="redirectButton && redirectButton.class">
        <button *ngIf="doNotShowButton" ion-button name="do-not-show" color="light" (click)="dismissPermanently()">
          {{'INFO_MODAL.DO_NOT_SHOW_AGAIN' | translate}}
        </button>
        <button *ngIf="redirectButton" ion-button name="redirect" (click)="redirect()">
          {{redirectButton.text | translate}}
        </button>
      </div>
    </div>
  </div>
</ion-content>
