app-info-modal {
  .body {
    margin: 16px;
    span {
      white-space: pre-line;
    }
    button {
      margin-top: 16px;
    }
    .button-wrapper {
      &.center {
        text-align: center;
      }
      &.large button {
        font-size: 20px;
        padding: 4px 16px;
      }
    }

  }
}
