<ion-header>
  <ion-toolbar>
    <ion-title>
      {{data.title | translate:data.translateParams}}
    </ion-title>
    <ion-buttons *ngIf="!disallowCancel" start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <div><span>{{data.text | translate:data.translateParams}}</span></div>
    <button *ngIf="doNotShowButton" class="btn" (click)="dismissPermanently()">
      {{'INFO_MODAL.DO_NOT_SHOW_AGAIN' | translate}}
    </button>
    <div *ngIf="redirectButton" class="button-wrapper" [ngClass]="redirectButton.class">
      <button class="btn btn-primary" (click)="redirect()">
        {{redirectButton.text | translate}}
      </button>
    </div>

  </div>
</ion-content>
