<div *ngIf="loading" class="d-flex justify-content-center align-items-center m-4 loading">
  <h1>Loading..</h1>
  <ion-spinner></ion-spinner>
</div>
<div *ngIf="!list.length && !loading" class="card no-results-card">
  <div class="card-body">
    <span>{{'SUPPORT.LIST.EMPTY' | translate}}</span>
  </div>
</div>
<div *ngIf="list.length" class="row">
  <div class="col-md-6 col-lg-4" *ngFor="let item of list">
    <div class="card clickable" [routerLink]="item.id">
      <div class="card-header">
        <i class="fas fa-user-circle"></i>
        {{item.id}}
      </div>
      <div class="card-body">
          <div>Offer ID:</div>
          <div>{{item.offerId}}</div>
          <div>Offer date / Trade date:</div>
          <div>{{item.offerDate | date}} / {{item.tradeDate | date}}</div>
      </div>
    </div>
  </div>
</div>
