<app-section-header class="d-none d-lg-block"></app-section-header>
<div *ngIf="loading" class="d-flex justify-content-center align-items-center m-4 loading">
  <h1>{{'SHARED.LOADING' | translate }}</h1>
  <ion-spinner></ion-spinner>
</div>
<div *ngIf="!list.length && !loading" class="card no-results-card p2">
  <div class="card-body">
    <span>{{'SUPPORT.LIST.EMPTY' | translate}}</span>
  </div>
</div>
<div *ngIf="list.length" class="row p-2">
  <div class="col-md-6 col-lg-4" *ngFor="let item of list">
    <div class="card clickable" [routerLink]="item.id">
      <div class="card-header">
        <i class="fas fa-user-circle"></i>
        {{item.id}}
      </div>
      <div class="card-body">
          <div>{{'SUPPORT.LIST.OFFER_ID' | translate}} {{item.offerId}}</div>
          <div>{{'SUPPORT.LIST.OFFER_DATE' | translate}} {{item.offerDate | date}}</div>
          <div>{{'SUPPORT.LIST.TRADE_DATE' | translate}} {{item.tradeDate | date}}</div>
      </div>
    </div>
  </div>
</div>
