<div class="desktop-max-width">
  <app-section-header class="d-none d-lg-block"></app-section-header>
  <div class="buttons">
    <button ion-button color="light" class="mb-3" routerLink="../..">{{ 'BACK' | translate}}</button>
  </div>
  <div class="card">
    <div class="card-header">{{'OFFERS.TAKE_OFFER.PAYMENT_INFO' | translate}}</div>
    <div class="card-body">
      <ion-item>
        <ion-label floating>{{'OFFERS.TAKE_OFFER.TRADING_ACCOUNT' | translate}}</ion-label>
        <ion-select [(ngModel)]="accountId">
          <ion-option *ngFor="let option of supportedAccountsList" [value]="option.id">{{option.accountName}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-item>
          <ion-label color="primary" stacked>{{'OFFERS.TAKE_OFFER.TRADE_CURRENCY' | translate}}</ion-label>
          <ion-input readonly></ion-input>
        </ion-item>
      </ion-item>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">{{'OFFERS.TAKE_OFFER.SET_AMOUNT' | translate}}</div>
    <div class="card-body">
      <ion-item>
        <ion-label color="primary" stacked>{{'OFFERS.TAKE_OFFER.AMOUNT_OF_BTC_TO_SELL' | translate}}</ion-label>
        <ion-input type="number" [min]="amountToSellMin" [max]="amountToSell" [(ngModel)]="amountToSell"
          (ngModelChange)="changeAmountToSell($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>{{'OFFERS.TAKE_OFFER.PRICE_IN_PLN_FOR_BTC' | translate}}</ion-label>
        <ion-input value="{{costOfBTC | currency:'PLN' }}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>{{'OFFERS.TAKE_OFFER.AMOUNT_IN_PLN_TO_RECEIVE' | translate}}</ion-label>
        <ion-input value="{{amountToReceive | currency:'PLN' }}" readonly></ion-input>
      </ion-item>
    </div>
  </div>
  <!-- <div class="card mt-2">
    <div class="card-header">Found your trade</div>
    <div class="card-body">
       <div class="row">
       <div class="col">
      <ion-item>
        <ion-label color="primary" stacked>Founds needed</ion-label>
        <ion-input type="number" readonly></ion-input>
        <button ion-button outline item-end class="padding" (click)="buttonClick()">?</button>
        <button ion-button outline item-end class="padding" (click)="buttonClick()">
          <ion-icon name="md-copy"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Trade wallet address</ion-label>
        <ion-input readonly></ion-input>
        <button ion-button outline item-end class="padding" (click)="buttonClick()">
          <ion-icon name="md-copy"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Trade wallet balance</ion-label>
        <ion-input placeholder="0.00 BTC ( Waiting for founds.. )" readonly></ion-input>
        <ion-spinner item-end></ion-spinner>
      </ion-item>
      </div>
      <div class="col">
          <ion-content contentWidth="180" contentHeight="180">
            <ion-img width="180" height="180" src="https://internationalbarcodes.net/wp-content/uploads/2017/04/QR%20code%20example.jpg"></ion-img>
          </ion-content>
        </div>
       </div>
    </div>
</div>-->
  <div class="row mt-3">
    <div class="col-sm">
      <button ion-button full color="light" (click)="takeOffer()" [disabled]="takingOffer">
        {{'OFFERS.TAKE_OFFER.TAKE_OFFER' | translate}}
        <ion-spinner *ngIf="takingOffer" item-end></ion-spinner>
      </button>
    </div>
    <!-- <div class="col-sm">
      <button class="btn button-md" ion-button full>Use Bisq wallet </button>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <button class="btn button-md" ion-button full>Use external wallet</button>
    </div> -->
  </div>
</div>
