<ion-header>
  <ion-toolbar>
    <ion-title>
      {{data.title | translate}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <div><span>{{data.text | translate:data.textParams}}</span></div>
    <button *ngIf="doNotShowButton" class="btn" (click)="dismissPermanently()">
      {{'INFO_MODAL.DO_NOT_SHOW_AGAIN' | translate}}
    </button>
    <button *ngIf="redirectButton" class="btn btn-primary" (click)="redirect()">
      {{redirectButton.text | translate}}
    </button>
  </div>
</ion-content>
