<div class="card">
  <div class="card-header">{{'ACCOUNTS.MANAGE_ACCOUNTS' | translate}}</div>
  <div class="card-body">
    <div class="col-md-2">{{'ACCOUNTS.CURRENCY.YOUR_ACCOUNTS' | translate}}</div>
    <div class="col-md-10">
      <!-- insert list of accounts-->
    </div>
  </div>
</div>
<div class="buttons">
  <button class="btn btn-primary button-md" (click)="addNew()">{{'ACCOUNTS.ADD_NEW' | translate}}</button>
  <button class="btn btn-primary button-md">{{'ACCOUNTS.EXPORT' | translate}}</button>
  <button class="btn btn-primary button-md">{{'ACCOUNTS.IMPORT' | translate}}</button>
</div>

<app-form title="{{ 'ACCOUNTS.CREATE_NEW' | translate}}" [form]="form" [(data)]="model" *ngIf="formOpen"></app-form>
<div class="buttons" *ngIf="formOpen">
  <button class="btn btn-primary button-md">{{'ACCOUNTS.SAVE' | translate}}</button>
  <button class="btn btn-primary button-md" (click)="cancel()">{{'ACCOUNTS.CANCEL' | translate}}</button>
</div>
