<nav class="navbar navbar-expand-lg navbar-light bg-light menu-component">
  <button class="navbar-toggler toggler " type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle"
    aria-expanded="false" aria-label="Toggle navigation" #navbarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse menu-content" id="navbarToggle">
    <ul class="navbar-nav mr-auto" (click)="onMenuItemClick()">
      <li class="nav-item menu-item" routerLinkActive="text-primary" routerLink="/dashboard">
        <i class="fas fa-globe menu-icon"></i>
        <div class="item-label">{{ 'HOME' | translate }}</div>
      </li>
      <li class="nav-item menu-item">
        <i class="fas fa-download menu-icon"></i>
        <div class="item-label">{{ 'BUY_BTC' | translate }}</div>
      </li>
      <li class="nav-item menu-item">
        <i class="fas fa-upload menu-icon"></i>
        <div class="item-label">{{ 'SELL_BTC' | translate }}</div>
      </li>
      <li class="nav-item menu-item">
        <i class="fas fa-folder-open menu-icon"></i>
        <div class="item-label">{{ 'PORTFOLIO' | translate }}</div>
      </li>
      <li class="nav-item menu-item">
        <i class="fas fa-briefcase menu-icon"></i>
        <div class="item-label">{{ 'FOUNDS' | translate }}</div>
      </li>
      <li class="nav-item menu-item">
        <i class="fas fa-comments menu-icon"></i>
        <div class="item-label">{{ 'SUPPORT' | translate }}</div>
      </li>
      <li>
        <hr>
      </li>
      <li class="nav-item menu-item" routerLinkActive="text-primary" routerLink="/settings">
        <i class="fas fa-cog menu-icon"></i>
        <div class="item-label">{{ 'SETTINGS' | translate }}</div>
      </li>
      <li class="nav-item menu-item" routerLinkActive="text-primary" routerLink="/account">
        <i class="fas fa-user menu-icon"></i>
        <div class="item-label">{{ 'ACCOUNT' | translate }}</div>
      </li>
    </ul>
  </div>
  <div class="dropdown prices-dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="menuDropdown" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      BTC/USD 8994.12
    </button>
    <div class="dropdown-menu" aria-labelledby="menuDropdown">
      <a class="dropdown-item">BTC/USD</a>
      <a class="dropdown-item">BTC/EUR</a>
      <a class="dropdown-item">BTC/PLN</a>
    </div>
  </div>
</nav>
