<div class="card">
    <div class="card-body">
        <div class="card-title">{{ 'SETTINGS_VIEW.PREFERENCES.GENERAL_PREFERENCES' | translate }}</div>
        <ion-item>
            <ion-label>{{ 'SETTINGS_VIEW.PREFERENCES.SELECT_BASE_CURRENCY' | translate }}</ion-label>
            <ion-select [(ngModel)]="selectedBaseCurrency">
                <ion-option *ngFor="let currency of baseCurrency" [value]="currency">{{currency}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'SETTINGS_VIEW.PREFERENCES.LANGUAGE' | translate }}</ion-label>
            <ion-select (ionChange)="langChange($event)">
                <ion-option *ngFor="let l of translate.getLangs()" [value]="l" [selected]="translate.currentLang === l">{{languagesNames[l]}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'SETTINGS_VIEW.PREFERENCES.COUNTRY' | translate }}</ion-label>
            <ion-select [(ngModel)]="selectedCountry">
                <ion-option *ngFor="let country of countries" [value]="country">{{country}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{'SETTINGS_VIEW.PREFERENCES.BITCOIN_BLOCK_EXPLORER' | translate }}</ion-label>
            <ion-select [(ngModel)]="selectedBitcoinExplorer">
                <ion-option *ngFor="let bitcoinExplorer of bitcoinExplorers" [value]="bitcoinExplorer">{{bitcoinExplorer}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{'SETTINGS_VIEW.PREFERENCES.WIDTHDRAWAL_TRANSACTION_FEE' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="conf.title" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-item>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">Use custom value</label>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>{{'SETTINGS_VIEW.PREFERENCES.MAX_DEVIATION_FROM_MARKET_PRICE' | translate }}:</ion-label>
            <ion-input type="text" [(ngModel)]="conf.title" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-item>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">Auto select arbitrators </label>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>{{'SETTINGS_VIEW.PREFERENCES.IGNORE_PEERS_WITH_ONION_ADDRESS' | translate }}:</ion-label>
            <ion-input type="text" [(ngModel)]="conf.title" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
    </div>
</div>
<div class="card mt-2">
    <div class="card-body">
        <div class="card-title">{{'SETTINGS_VIEW.PREFERENCES.CURRENCIES_IN_MARKET_PRICE_FEED_LIST' | translate }}</div>
        <ion-item>
            <ion-label>Prefered currency</ion-label>
            <ion-select [(ngModel)]="currency">
                <ion-option value="f">Butcoin</ion-option>
                <ion-option value="m">Litecoin</ion-option>
                <ion-option value="d">Dash</ion-option>
            </ion-select>
        </ion-item>
    </div>
</div>
<div class="card mt-2">
    <div class="card-body">
        <div class="card-title">{{'SETTINGS_VIEW.PREFERENCES.DISPLAY_OPTIONS' | translate }}</div>
        <ion-item>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">Show my own offers in offer book</label>
            </div>
        </ion-item>
        <ion-item>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">Use animations</label>
            </div>
        </ion-item>
        <ion-item>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">Sort markers lists with no. of offers/trades</label>
            </div>
        </ion-item>
        <ion-item>
            <button ion-button>{{'SETTINGS_VIEW.PREFERENCES.RESET_ALL' | translate }}</button>
        </ion-item>
    </div>
</div>
