app-network-info {
  overflow-x: hidden;
  .peers-scroll {
    height: 100px;
  }
  .left-label {
    padding-right: 5px;
    @media (min-width: 992px) {
      text-align: right;
    }
  }
  .row {
    padding-left: 5px;
    align-items: center;
  }
  .margin {
    margin: 5px;
  }
  ion-item.item.item-checkbox {
    margin-top: 0
  }
}
