app-network-info {
  overflow-x: hidden;
  .peers-scroll {
    height: 100px;
  }
  .left-label {
    padding: 5px;
    @media (min-width: 992px) {
      text-align: right;
    }
  }
  .row {
    align-items: center;
  }
  .margin {
    margin: 5px;
  }
}
