app-funds-transaction {
  .table {
    table-layout:fixed;
    td {
      vertical-align: middle;
    }
    tbody {
      tr {
        height: 57px;
      }
    }
    .transaction-direction {
      padding: 0;
      width: 6px;
      &.green {
        background-color: #00ff00;
      }
      &.red {
        background-color: #ff0000;
      }
    }
    .transaction {
      height: 57px;
    }
    .transaction-id {
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: normal;
    }
    .transaction-date {
      width: 100px;
    }
    .transaction-value {
      width: 100px;
    }
  }
 }
