app-funds-transaction {
  .table {
    table-layout:fixed;
    td {
      vertical-align: middle;
    }
    tbody {
      tr {
        height: 57px;
      }
    }
    .transaction-direction {
      width: 25px;
    }
    .transaction {
      height: 57px;
    }
    .transaction-id {
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: normal;
    }
    .transaction-date {
      width: 100px;
    }
    .transaction-value {
      width: 100px;
    }
    .red-icon {
      color: red
    }
    .green-icon {
      color: green
    }
  }
 }
