app-support-messages {
  display: block;
  height: calc(100vh - 102px);
  overflow-y: auto;
  .desktop-max-width {
    height: 100%;
  }
  .messages-container {
    height: calc(100% - 45px);
    position: relative;
    .top-section {
      height: calc(100% - 140px);
      width: 100%;
      position: absolute;
      overflow-y: auto;
      .message {
        border: 1px solid silver;
        margin-bottom: 10px;
        padding: 5px;
        .message-date {
          color: #999999;
          font-size: small;
        }
      }
    }
    .bottom-section {
      position: absolute;
      bottom: 5px;
      width: 100%;
      .message-input {
        padding-left: 0;
        textarea.text-input {
          display: block;
          height: 40px;
        }
      }
      .buttons {
        margin-top: 10px;
        float: right;
      }
    }
  }
}

@media (max-width: 992px) {
  app-support-messages {
    height: calc(100vh - 82px);
    .messages-container {
      height: 100%;
    }
  }
}
