<div class="desktop-max-width view-container">
  <button ion-button color="light" routerLink="..">BACK</button>
  <div class="card" *ngIf="messages.length">
    <div class="card-header">{{'SUPPORT.MESSAGES.MESSAGES_HEADER' | translate}}</div>
    <div class="card-body">
      <div *ngFor="let item of messages" class="message">
        <div class="message-date">{{item.date | date}}</div>
        <div class="message-text">{{item.message}}</div>
      </div>
      <ion-item class="message-input">
        <ion-label floating>Input Message</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </div>
  </div>
</div>
