<app-section-header class="d-none d-lg-block"></app-section-header>
<div class="row">
  <div class="col-md-6 col-lg-4" *ngFor="let item of trades; let i = index">
    <div class="card">
      <div class="card-header">
        <span>{{item.takeOfferDate | date:'y-MM-dd'}}</span>
        <span class="float-right">{{item.takeOfferDate | date:'hh:mm:ss'}}</span>
      </div>
      <div class="card-body">
        <div>
          <span>ID</span>
          <span class="float-right">{{item.id.split('-')[0]}}</span>
        </div>
        <div>{{'PORTFOLIO.OPEN_TRADES.PRICE' | translate}}
          <span class="float-right">{{item.tradePrice / 10e3}}</span>
        </div>
        <div>{{'PORTFOLIO.OPEN_TRADES.MARKET' | translate}}
          <span class="float-right">{{item.offer.baseCurrencyCode}}/{{item.offer.counterCurrencyCode}}</span>
        </div>
        <div>{{'PORTFOLIO.OPEN_TRADES.AMOUNT' | translate}}
          <span class="float-right">{{item.tradeAmount / 10e7}}</span>
        </div>
        <div>{{'PORTFOLIO.OPEN_TRADES.VOLUME' | translate}}
          <span class="float-right">{{item.tradePrice * item.tradeAmount / 10e11 | number:'.2-2'}} EUR</span>
          <!-- Todo: Change EUR to used currency in trade-->
        </div>
        <div>{{'PORTFOLIO.OPEN_TRADES.PAYMENT_METHOD' | translate}}
          <span class="float-right">{{item.offer.paymentMethodId}} ({{item.offer.countryCode}})</span>
        </div>
        <div>{{'PORTFOLIO.OPEN_TRADES.MY_ROLE' | translate}}
          <span class="float-right">
              {{item.offer.baseCurrencyCode}} {{item.tradeRole}} {{'AS' | translate}} {{item.offerRole}}
            </span>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar"
             aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
             [ngStyle]="{width: stepsMap[item.state].percentage + '%'}"></div>
      </div>
      <div class="btn btn-info rounded-0" [routerLink]="'/portfolio/open-trades/'+item.id">
        <span class="select-button">{{stepsMap[item.state].labels[item.tradeRole] | translate}}</span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" class="d-flex justify-content-center align-items-center m-4 loading">
  <h1>{{'SHARED.LOADING' | translate}}..</h1>
  <ion-spinner></ion-spinner>
</div>
<div *ngIf="!trades.length && !loading" class="card no-results-card">
  <div class="card-body">
    <span> {{'PORTFOLIO.OPEN_TRADES.NO_RESULTS' | translate}}</span>
  </div>
</div>
