// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

:root {
  --light-grey: #bbbbbb;
}

a:hover {
  text-decoration: none;
}

.card {
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .view {
    padding: 15px;
  }
}

.scroll-content {
  overflow-y: auto;
}

ion-item.item {
  &.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, &.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    box-shadow: none;
    border-bottom-color: #dedede;
  }
  &.item-md.item-input.item-input-has-focus .item-inner, &.item-md.item-input.input-has-focus .item-inner {
    box-shadow: none;
    border-bottom-color: #dedede;
  }
  &.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    box-shadow: none;
    border-bottom-color: #dedede;
  }
  &.item-checkbox {
    ion-checkbox.checkbox {
      margin-right: 22px;
    }
    ion-label.label {
      color: #999;
    }
  }
}

ion-toast {
  &.error .toast-wrapper {
    background-color: var(--red);
  }
  &.success .toast-wrapper {
    background-color: var(--success);
  }
}

.alert-message {
  overflow: hidden;
}

.desktop-max-width {
  margin: auto;
  max-width: 800px;
}

button ion-spinner {
  margin-left: 10px;
}

.no-results-card {
  text-align: center;
  color: gray;
  .card-body {
    padding: 2.25rem;
  }
  span {
    font-size: medium
  }
}

.loading {
  color: lightgray;
  h1 {
    margin-right: 10px;
  }
  ion-spinner * {
    width: 40px;
    height: 40px;
    stroke: lightgray;
  }
}

.item-md {
  padding-left: 0;
}


.item-radio.item-md ion-label, .label-md {
  margin-left: 16px;
}
