// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

:root {
  --light-grey: #bbbbbb;
}

.tab-button-text, .tab-button-icon {
  /*CSS transitions*/
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /*CSS transforms*/
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

a:hover {
  text-decoration: none;
}

.tabs-md .tabbar {
  background: var(--light);
}

.tabs-md .tab-button {
  min-height: 55px;
  .tab-button-text {
    display: block;
  }
}

.tabs-md .tab-button[aria-selected=true] {
  color: var(--blue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: white;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: var(--blue);
}

ion-content {
  .scroll-content {
    overflow-y: auto;
  }
}

ion-toast {
  &.error .toast-wrapper {
    background-color: var(--red);
    color: black;
  }
}

ion-item.item.item-checkbox {
  ion-checkbox.checkbox {
    margin-right: 22px;
  }
  ion-label.label {
    color: #999;
  }
}

.alert-message {
  overflow: hidden;
}

.desktop-max-width {
  margin: auto;
  max-width: 800px;
}

button ion-spinner {
  margin-left: 10px;
}
