app-open-trades {
  .trades-list {
    .card {
      margin-bottom: 15px;
      .progress {
        margin: 0 12.5px 12.5px;
        height: 12px;
      }
      .select-button {
        font-size: 15px;
      }
    }
  }

  .trade-details {
    app-trade-status:last-of-type .root {
      margin-bottom: 24px;
    }
    .card {
      margin-bottom: 24px;
      .card-header.information {
        cursor: pointer;
      }
      .label {
        font-weight: bold;
      }
    }
    .button {
      margin-top: 0;
    }
  }
}
