app-form {
  ion-item.item.item-checkbox {
    margin-top: 20px;
  }
  .validation {
    color: var(--red);
    margin-left: 16px;
  }
  .footer {
    margin-top: 32px;
    hr {
      background-color: #dedede;
    }
    .label {
      font-weight: bold;
    }
  }
}
