<div class="desktop-max-width">
  <app-section-header class="d-none d-lg-block"></app-section-header>
  <table class="table table-striped" *ngIf="!selectedWallet.address && !loading && walletAddresses.length">
    <thead>
      <tr>
        <th class="funds-address">{{'FUNDS.ADDRESS' | translate}}</th>
        <th class="funds-confirmations">{{'FUNDS.CONFIRMATIONS' | translate}}</th>
        <th class="funds-balance">{{'FUNDS.BALANCE' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let wallet of walletAddresses" class="clickable" (click)="selectWallet(wallet)">
        <td class="funds-address">{{wallet.address}}</td>
        <td class="funds-confirmations">{{wallet.confirmations}}</td>
        <td class="funds-balance">{{wallet.balance / 1e8}} BTC </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="selectedWallet.address" class="p-2">
    <div class="card">
      <div class="card-header">{{'FUNDS.RECEIVE.FUND_YOUR_WALLET' | translate}}</div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
          </div>
          <div class="col-8">
            <ngx-qrcode [qrc-value]="qrCode" qrc-errorCorrectionLevel="L"></ngx-qrcode>
          </div>
        </div>
        <div class="row">
          <div class="col-4 field-label">
            {{'FUNDS.RECEIVE.ADDRESS' | translate}}:
          </div>
          <div class="col-8">
            <ion-item (click)="addressSelect($event)">
              <ion-input type="text" [value]="selectedWallet.address" readonly></ion-input>
            </ion-item>
          </div>
        </div>
        <div class="row">
          <div class="col-4 field-label">
            {{'FUNDS.RECEIVE.AMOUNT_IN_BTC' | translate}}:
          </div>
          <div class="col-8">
            <ion-item>
              <ion-input type="number" [(ngModel)]="amount" (ionChange)="updateQrCode()" min='0'></ion-input>
            </ion-item>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loading" class="d-flex justify-content-center align-items-center m-4 loading">
    <h1>{{'SHARED.LOADING' | translate}}..</h1>
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="!walletAddresses.length && !loading" class="card no-results-card">
    <div class="card-body">
      <span>{{'FUNDS.RECEIVE.NO_RESULTS' | translate}}</span>
    </div>
  </div>
  <div class="buttons ml-3">
    <button *ngIf="selectedWallet.address" ion-button (click)="getBack()">
      {{'BACK' | translate}}
    </button>
    <button *ngIf="type === 'RECEIVE_FUNDS'" ion-button color="light" (click)="generateAddress()" [disabled]="generateInProgress">
      {{'FUNDS.RECEIVE.NEW_ADDRESS' | translate}}
      <ion-spinner *ngIf="generateInProgress" item-end></ion-spinner>
    </button>
  </div>
</div>
