app-funds-list {
  .row {
    align-items: center;
  }
  .field-label {
    text-align: right;
  }
  .selected-wallet {
    background: var(--blue);
    color: var(--light);
  }
  .wallet-address {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .confirmations {
    text-align: center;
  }
}
