app-funds-list {
  .row {
    align-items: center;
  }
  .field-label {
    text-align: right;
  }
  table {
    table-layout:fixed;
  }
  .funds-address {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
  }
  .funds-confirmations {
    text-align: center;
    width: 55px;
  }
  .funds-balance {
    text-align: right;
    width:150px;
  }
}
