app-trade-details {
  app-trade-status:last-of-type .root {
    margin-bottom: 24px;
  }
  .card {
    margin-bottom: 24px;
    .card-header.information {
      cursor: pointer;
    }
    .label {
      font-weight: bold;
    }
  }
  .button {
    float: right;
    margin-top: 0;
    margin-left: 10px;
  }
  .arrow {
    font-size: 22px;
  }
  .collapsed > .arrow {
    transform: rotate(180deg);
  }
}

