<div class="row">
  <div class="col-lg-4">
    <app-trade-status text="Wait for blockchain confirmation" [currentStep]="selectedTradeStep"
                      definedStep="1"></app-trade-status>
    <app-trade-status *ngIf="'buyer' ===selectedTradeRole" text="Start payment" [currentStep]="selectedTradeStep"
                      definedStep="2"></app-trade-status>
    <app-trade-status *ngIf="'seller' ===selectedTradeRole" text="Wait until payment has started"
                      [currentStep]="selectedTradeStep" definedStep="2"></app-trade-status>
    <app-trade-status *ngIf="'buyer' ===selectedTradeRole" text="Wait until payment arrived"
                      [currentStep]="selectedTradeStep" definedStep="3"></app-trade-status>
    <app-trade-status *ngIf="'seller' ===selectedTradeRole" text="Confirm payment received"
                      [currentStep]="selectedTradeStep" definedStep="3"></app-trade-status>
    <app-trade-status text="Completed" [currentStep]="selectedTradeStep" definedStep="4"></app-trade-status>
  </div>
  <div class="col-lg-8">
    <div class="card" *ngIf="4 !== selectedTradeStep">
      <div class="card-header information" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false">
        Trade information
      </div>
      <div id="collapseOne" class="collapse">
        <div class="card-body">
          <div class="label">Deposit transaction ID</div>
          <div>{{trade.depositTxId}}</div>
          <div class="label">Max. allowed trade period</div>
          <div>{{tradeDuration.asDays()}} days</div>
          <div class="label">Remaining time</div>
          <div>
            {{remainingDuration.days()}} days,
            {{remainingDuration.hours()}} hours,
            {{remainingDuration.minutes()}} minutes
            (until {{endDate.format('YYYY-MM-DD HH:mm:ss')}})
          </div>
        </div>
      </div>
    </div>
    <ng-template [ngIf]="1 === selectedTradeStep && 'buyer' === selectedTradeRole">
      <div class="card">
        <div class="card-header">
          Wait for blockchain confirmation
        </div>
        <div class="card-body">
          <div>Deposit transaction has been publihed.<br/>You need to wait for at least one blockchain confirmation
            before starting the payment.
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="1 === selectedTradeStep && 'seller' === selectedTradeRole">
      <div class="card">
        <div class="card-header">
          Wait for blockchain confirmation
        </div>
        <div class="card-body">
          <div>Deposit transaction has been publihed.<br/>The BTC buyer need to wait for at least one blockchain
            confirmation
            before starting the payment.
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="2 === selectedTradeStep && 'buyer' === selectedTradeRole">
      <div class="card">
        <div class="card-header">
          Start payment using {{trade.offer.paymentMethodId}}
        </div>
        <div class="card-body">
          <div class="label">Amount to transfer</div>
          <div>{{trade.tradePrice * trade.tradeAmount / 10e11 | number:'.2-2'}} {{trade.offer.counterCurrencyCode}}
          </div>
          <div class="label">Account owner full name</div>
          <div>{{trade.buyerPaymentAccount.paymentDetails}}</div>
          <div class="label">Country of bank</div>
          <div>{{trade.buyerPaymentAccount.countryCode}}</div>
          <div class="label">IBAN</div>
          <div>{{trade.buyerPaymentAccount.iban}}</div>
          <div class="label">BIC</div>
          <div>{{trade.buyerPaymentAccount.bic}}</div>
          <div class="label">Reason for payment</div>
          <div>{{trade.id.substring(0, 8)}}</div>
        </div>
      </div>
      <button ion-button (click)="confirmPaymentStarted()">Payment started</button>
    </ng-template>
    <ng-template [ngIf]="2 === selectedTradeStep && 'seller' === selectedTradeRole">
      <div class="card">
        <div class="card-header">
          Wait for payment
        </div>
        <div class="card-body">
          <div>The deposit transaction has at least one blockchain confirmation.<br/>You need to wait until the BTC
            buyer starts the EUR payment.
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="3 === selectedTradeStep && 'buyer' === selectedTradeRole">
      <div class="card">
        <div class="card-header">
          Wait for BTC seller's payment confirmation
        </div>
        <div class="card-body">
          <div>Waiting for the BTC seller's confirmation for the receipt of the ERR payment.</div>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="3 === selectedTradeStep && 'seller' === selectedTradeRole">
      <div class="card">
        <div class="card-header">
          Confirm payment received
        </div>
        <div class="card-body">
          <div class="label">Amount to receive</div>
          <div>{{trade.tradePrice * trade.tradeAmount / 10e11 | number:'.2-2'}} EUR</div>
          <div class="label">Your trading account</div>
          <div>{{trade.buyerPaymentAccount.paymentDetails}}</div>
          <div class="label">Buyers trading account</div>
          <div>{{trade.buyerPaymentAccount.paymentDetails}}</div>
          <div class="label">Confirm payment receipt</div>
          <div>{{trade.id.substring(0, 8)}}</div>
        </div>
      </div>
      <button ion-button (click)="confirmPaymentReceived()">Confirm payment received</button>
    </ng-template>
    <ng-template [ngIf]="4 === selectedTradeStep">
      <div class="card">
        <div class="card-header">
          Summary of completed trade
        </div>
        <div class="card-body">
          <div class="label">{{'buyer' === selectedTradeRole ? 'You have bought' : 'You have sold'}}</div>
          <div>{{trade.tradeAmount / 10e7}}</div>
          <div class="label">{{'buyer' === selectedTradeRole ? 'You have paid' : 'You have received'}}</div>
          <div>{{trade.tradePrice * trade.tradeAmount / 10e11 | number:'.2-2'}} EUR</div>
          <div class="label">Refunded security deposit</div>
          <div>...</div>
          <div class="label">Trade fee</div>
          <div>{{trade.takerFee / 10e7}}</div>
          <div class="label">Total mining fees</div>
          <div>...</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Withdraw your bitcoin
        </div>
        <div class="card-body">
          <div class="label">Amount to withdraw</div>
          <div>{{trade.tradeAmount / 10e7 + 77}}</div>
        </div>
      </div>
      <button ion-button (click)="withdraw()">Withdraw</button>
    </ng-template>
    <button ion-button color="light" (click)="cancel()">{{'BACK' | translate}}</button>
  </div>
</div>
