<div class="desktop-max-width">
  <app-section-header class="d-none d-lg-block"></app-section-header>
  <form #createForm="ngForm" *ngIf="!noAccounts">
    <ion-item>
      <ion-label floating>{{'OFFERS.CREATE.TRADING_ACCOUNT' | translate}}</ion-label>
      <ion-select name="accountId" [(ngModel)]="model.accountId" cancelText="{{'ACCOUNT.CANCEL' | translate}}"
                  (ionChange)="onSelectAccount()" interface="popover" required>
        <ion-option *ngFor="let option of accountsList" [value]="option.id">{{option.accountName}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="model.accountId">
      <ion-label floating>{{'OFFERS.CREATE.CURRENCY' | translate}}</ion-label>
      <ion-select name="tradeCurrency" [(ngModel)]="model.tradeCurrency" cancelText="{{'ACCOUNT.CANCEL' | translate}}"
                  (ionChange)="onValueChanges($event)" interface="popover">
        <ion-option *ngFor="let option of tradeList" [value]="option">{{option}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{(model.isFixedPrice ? 'OFFERS.CREATE.FIXED' : 'OFFERS.CREATE.PERCENTAGE') | translate}}</ion-label>
      <ion-toggle name="isFixedPrice" [(ngModel)]="model.isFixedPrice"></ion-toggle>
    </ion-item>
    <div class="row">
      <div class="col-6">
        <ion-item>
          <ion-label stacked>{{'OFFERS.CREATE.AMOUNT' | translate}}</ion-label>
          <ion-input class="suffix" data-suffix="BTC" type="number" name="amount" [(ngModel)]="model.amount" (ionChange)="onValueChanges($event)" min="0"></ion-input>
        </ion-item>
      </div>
      <div class="col-6">
        <ion-item>
          <ion-label stacked>{{'OFFERS.CREATE.MINUMUM_AMOUNT' | translate}}</ion-label>
          <ion-input class="suffix" data-suffix="BTC" type="number" name="minAmount" [(ngModel)]="model.minAmount"
                    (ionChange)="onValueChanges($event)"></ion-input>
        </ion-item>
      </div>
    </div>
    <ion-item>
      <ion-label floating>{{'OFFERS.CREATE.PEdRCENT_DISTANCE' | translate}}</ion-label>
      <ion-input class="suffix" data-suffix="%" type="number" name="percentageFromMarketPrice" [(ngModel)]="model.percentageFromMarketPrice"
                 (ionChange)="onValueChanges($event)"></ion-input>
    </ion-item>
    <div class="row">
      <div class="col-6">
        <ion-item>
          <ion-label floating>{{'OFFERS.CREATE.PRICE' | translate}}</ion-label>
          <ion-input type="number" name="fixedPrice" [(ngModel)]="model.fixedPrice" (ionChange)="onValueChanges($event)"
                     min="0" required></ion-input>
          <span *ngIf="model.tradeCurrency" class="suffix-dynamic" item-end>{{model.tradeCurrency}}</span>
        </ion-item>
      </div>
      <div class="col-6">
        <ion-item>
          <ion-label floating>{{'OFFERS.CREATE.PRICE_OVERALL' | translate}}</ion-label>
          <ion-input type="number" name="calculatedValue" [(ngModel)]="model.calculatedValue"
                     (ionChange)="onValueChanges($event)" min="0"></ion-input>
          <span *ngIf="model.tradeCurrency" class="suffix-dynamic" item-end>{{model.tradeCurrency}}</span>
        </ion-item>
      </div>
    </div>
    <ion-item>
      <ion-label floating>{{'OFFERS.CREATE.SECURITY_DEPOSIT' | translate}}</ion-label>
      <ion-input class="suffix" data-suffix="BTC" type="number" name="deposit" [(ngModel)]="model.deposit"
                 (ionChange)="onValueChanges($event)"></ion-input>
    </ion-item>
  </form>
  <div class="buttons" *ngIf="!noAccounts">
    <button ion-button (click)="submit()" [disabled]="creatingOffer">
      {{ 'OFFERS.CREATE.SAVE' | translate}}
      <ion-spinner *ngIf="creatingOffer" item-end></ion-spinner>
    </button>
    <button ion-button color="light" routerLink="..">{{ 'CANCEL' | translate}}</button>
  </div>
  <div *ngIf="noAccounts" class="card no-results-card">
    <div class="card-body">
      <span>{{'OFFERS.CREATE.NO_ACCOUNTS' | translate}}</span><br/>
      <button ion-button color="light" routerLink="..">{{'BACK' | translate}}</button>
      <button ion-button routerLink="/account/currency">{{'OFFERS.CREATE.GO_TO_ACCOUNTS' | translate}}</button>
    </div>
  </div>
</div>
