app-create-offers {
  ion-item.item.item-toggle {
    padding-top: 20px;
  }
  .buttons {
    overflow: auto;
    margin-top: 15px;
    button {
      float: right;
      margin-left: 10px;
    }
  }
  .text-input {
    text-align: right;
  }
}
