<div class="desktop-max-width p-2">
  <app-section-header class="d-none d-lg-block"></app-section-header>
  <ion-item>
    <ion-label>{{ 'ACCOUNT.ARBITRATOR.WHICH_LANGUAGE_DO_YOU_SPEAK' | translate }}</ion-label>
    <ion-select [(ngModel)]="languagesSpoken" multiple="true" (ionChange)="saveLanguagesSettings()">
      <ion-option *ngFor="let lang of languages" [value]="lang.value">{{lang.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>{{'ACCOUNT.ARBITRATOR.WHICH_ARBITRATORS_DO_YOU_ACCEPT' | translate }}</ion-label>
  </ion-item>
  <ion-list *ngIf="arbitrators.length && !loading">
    <ion-item *ngFor="let arbitrator of arbitrators">
      <ion-label>{{arbitrator.address}}</ion-label>
      <ion-toggle [(ngModel)]="arbitratorsSelection[arbitrator.address]" [disabled]="doingActionOn[arbitrator.address]"
                  (ionChange)="onSelectionChange($event, arbitrator.address)"></ion-toggle>
    </ion-item>
  </ion-list>
  <div *ngIf="!arbitrators.length && !loading" class="card no-results-card borderless">
    <div class="card-body">
      <span>{{'ACCOUNT.ARBITRATOR.NO_RESULTS' | translate}}</span>
    </div>
  </div>

  <div class="row ml-4">
    <ion-item class="col-6">
      <ion-label>{{'ACCOUNT.ARBITRATOR.AUTO_SELECT_ARBITRATORS' | translate }}</ion-label>
      <ion-checkbox [(ngModel)]="settingsModel.autoSelectArbitrators" (ionChange)="saveSettings()"></ion-checkbox>
      <ion-spinner *ngIf="savingSettings" item-end></ion-spinner>
    </ion-item>
    <div class="col-6">
      <button ion-button item-end color="light" class="float-right" (click)="nominateYourself()" [disabled]="nominatingInProgress">
        {{'ACCOUNT.ARBITRATOR.NOMINATE_YOURSELF' | translate}}
        <ion-spinner *ngIf="nominatingInProgress" item-end></ion-spinner>
      </button>
    </div>
  </div>
</div>
