<app-section-header class="d-none d-lg-block"></app-section-header>
<div class="row">
  <div class="col-lg-4">
    <button *ngIf="'buy' === type" ion-button class="create" routerLink="./create">
      {{ 'OFFERS.CREATE_BUY_BUTTON' | translate}}
    </button>
    <button *ngIf="'sell' === type" ion-button class="create" routerLink="./create">
      {{ 'OFFERS.CREATE_SELL_BUTTON' | translate}}
    </button>
    <button ion-button color="light" class="refresh d-none d-lg-inline-block" (click)="refresh.emit()"
            [disabled]="loading">
      {{ 'SHARED.REFRESH' | translate}}
      <ion-spinner *ngIf="loading" item-end></ion-spinner>
    </button>
    <div class="row d-lg-none">
      <div class="col-4">
        <button ion-button full color="light" class="refresh" (click)="refresh.emit()" [disabled]="loading">
          {{ 'SHARED.REFRESH' | translate}}
          <ion-spinner *ngIf="loading" item-end></ion-spinner>
        </button>
      </div>
      <div class="col-4">
        <button ion-button full color="light" class="refresh" (click)="toggleFilters()">
          {{ 'SHARED.FILTER' | translate}}
        </button>
      </div>
      <div class="col-4">
        <div *ngIf="NO_FILTER !== methodFilter" class="filter-label">{{methodFilter}}</div>
        <div *ngIf="0 > currencyFilter.indexOf(NO_FILTER)" class="filter-label">{{currencyFilter}}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <ion-item class="filter-item show" [ngClass]="{show: isFilterVisible}">
      <ion-label floating>{{'OFFERS.LIST.FILTER.BY_CURRENCY' | translate}}</ion-label>
      <ion-select [(ngModel)]="currencyFilter" (ionChange)="onFilterChange()" multiple="true">
        <ion-option [value]="NO_FILTER">{{('OFFERS.LIST.SHOW_ALL' | translate)}}</ion-option>
        <ion-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="col-lg-4">
    <ion-item class="filter-item last" [ngClass]="{show: isFilterVisible}">
      <ion-label floating>{{'OFFERS.LIST.FILTER.BY_METHOD' | translate}}</ion-label>
      <ion-select [(ngModel)]="methodFilter" (ionChange)="onFilterChange()" interface="popover">
        <ion-option [value]="NO_FILTER">{{'OFFERS.LIST.SHOW_ALL' | translate}}</ion-option>
        <ion-option *ngFor="let paymentMethod of supportedPaymentsMethods" [value]="paymentMethod">{{paymentMethod}}</ion-option>
      </ion-select>
    </ion-item>
  </div>
</div>
<div>{{'OFFERS.LIST.NO_OFFERS' | translate}}: {{list.length || 0}}</div>
<div *ngIf="loading" class="d-flex justify-content-center align-items-center m-4 loading">
  <h1>{{'SHARED.LOADING' | translate}}..</h1>
  <ion-spinner></ion-spinner>
</div>
<div *ngIf="!list.length && !loading" class="card no-results-card">
  <div class="card-body">
    <span>{{'OFFERS.LIST.NO_RESULTS' | translate}}</span>
  </div>
</div>
<table *ngIf="list.length && !loading" class="table table-striped">
  <thead>
  <tr>
    <th>{{'OFFERS.LIST.MARKET' | translate}}</th>
    <th *ngIf="'my-offers' === type"> {{'OFFERS.LIST.TYPE' | translate}}</th>
    <th class="price">{{'OFFERS.LIST.PRICE' | translate}}</th>
    <th class="d-sm-none">BTC</th>
    <th class="d-none d-sm-table-cell">BTC (min-max)</th>
    <th class="d-none d-md-table-cell">{{'OFFERS.LIST.AMOUNT' | translate}}</th>
    <th class="payment-method d-none d-lg-table-cell">{{'OFFERS.LIST.PAYMENT_METHOD' | translate}}</th>
    <th class="action d-none d-lg-table-cell">{{'OFFERS.LIST.ACTION' | translate}}</th>
    <th class="owner d-none d-md-table-cell"></th>
    <th class="info d-lg-none"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list" (click)="offerDetailsMobileOnly(item)">
    <td>{{getOfferMarket(item)}}</td>
    <td *ngIf="'my-offers' === type">{{item.direction | translate}}</td>
    <td class="price">
      <span *ngIf="item.useMarketBasedPrice" class="d-none d-sm-inline">
        ({{getOfferMarketPriceMargin(item)}}%)
      </span>
      <span>{{getOfferPrice(item)}}</span>
    </td>
    <td class="d-sm-none">{{item.amount / 1e8}}</td>
    <td class="d-none d-sm-table-cell">{{getOfferBTCAmount(item)}}</td>
    <td class="d-none d-md-table-cell">{{getOfferAmount(item)}}</td>
    <td class="payment-method d-none d-lg-table-cell">
      {{item.paymentMethodId}}
      <i class="fas fa-info-circle info clickable" (click)="offerDetails(item)"></i>
    </td>
    <td class="action d-none d-lg-table-cell">
      <div class="btn" [ngClass]="{
            'btn-primary': 'buy' === type,
            'btn-warning': 'sell' === type,
            'btn-danger': 'my-offers' === type
            }">
        <div *ngIf="'buy' === type" class="select-button" (click)="takeOffer(item)">
          <i class="fas fa-download menu-icon"></i>{{'OFFERS.LIST.BUY' | translate}}
        </div>
        <div *ngIf="'sell' === type" class="select-button" (click)="takeOffer(item)">
          <i class="fas fa-upload menu-icon"></i>{{'OFFERS.LIST.SELL' | translate}}
        </div>
        <div *ngIf="'my-offers' === type" class="select-button" (click)="deleteOffer(item)">
          <i class="fas fa-trash-alt menu-icon"></i>{{'OFFERS.LIST.DELETE' | translate}}
        </div>
      </div>
    </td>
    <td class="owner d-none d-md-table-cell" title="Onion adress: {{item.ownerNodeAddress}}">
      <app-gravatar [hashSeed]="item.ownerNodeAddress" size="24"></app-gravatar>
    </td>
    <td class="info d-lg-none">
      <i class="fas fa-info-circle info clickable"></i>
    </td>
  </tr>
  </tbody>
</table>
