app-offers-list {
  button {
    &.create {
      margin-right: 10px;
      margin-bottom: 8px;
    }
    &.refresh {
      margin-bottom: 8px;
    }
  }
  .card {
    .select-button {
      font-size: 15px;
      i {
        margin-right: 5px;
      }
    }
  }
  .info {
    color: var(--info);
  }
  .filter-item {
    padding-left: 0;
  }
  @media (max-width: 992px) {
    .filter-item.last {
      margin-bottom: 20px;
    }
  }
}
