<app-section-header class="d-none d-lg-block"></app-section-header>
<div class="row">
  <div class="col-lg-4">
    <button *ngIf="'buy' === type" ion-button class="create" routerLink="./create">
      {{ 'OFFERS.CREATE_BUY_BUTTON' | translate}}
    </button>
    <button *ngIf="'sell' === type" ion-button class="create" routerLink="./create">
      {{ 'OFFERS.CREATE_SELL_BUTTON' | translate}}
    </button>
    <button ion-button color="light" class="refresh" (click)="refresh.emit()" [disabled]="loading">
      {{ 'SHARED.REFRESH' | translate}}
      <ion-spinner *ngIf="loading" item-end></ion-spinner>
    </button>
  </div>
  <div class="col-lg-4" *ngIf="'my-offers' !== type">
    <ion-item class="filter-item">
      <ion-label floating>{{'OFFERS.LIST.FILTER.BY_CURRENCY' | translate}}</ion-label>
      <ion-select [(ngModel)]="currencyFilter" (ionChange)="onCurrencyFilterChange($event)" multiple="true">
        <ion-option [value]="NO_FILTER">{{('OFFERS.LIST.SHOW_ALL' | translate)}}</ion-option>
        <ion-option *ngFor="let currency of currencies" [value]="currency.value">{{currency.name}}</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="col-lg-4" *ngIf="'my-offers' !== type">
    <ion-item class="filter-item last">
      <ion-label floating>{{'OFFERS.LIST.FILTER.BY_METHOD' | translate}}</ion-label>
      <ion-select [(ngModel)]="methodFilter" interface="popover">
        <ion-option [value]="NO_FILTER">{{'OFFERS.LIST.SHOW_ALL' | translate}}</ion-option>
      </ion-select>
    </ion-item>
  </div>
</div>
<div>{{'OFFERS.LIST.NO_OFFERS' | translate}}: {{list.length || 0}}</div>
<div *ngIf="loading" class="d-flex justify-content-center align-items-center m-4 loading">
  <h1>{{'SHARED.LOADING' | translate}}..</h1>
  <ion-spinner></ion-spinner>
</div>
<div *ngIf="!list.length && !loading" class="card no-results-card">
  <div class="card-body">
    <span>{{'OFFERS.LIST.NO_RESULTS' | translate}}</span>
  </div>
</div>
<div *ngIf="list.length" class="row">
  <div class="col-md-6 col-lg-4" *ngFor="let item of list">
    <div class="card">
      <div class="card-header">
        <span title="Onion adress: {{item.ownerNodeAddress}}">
          <app-gravatar [hashSeed]="item.ownerNodeAddress" size="24"></app-gravatar>
        </span>
        <span class="float-right">
          {{getMarket(item)}}
          <i class="fas fa-info-circle info clickable" (click)="offerDetails(item)"></i>
        </span>
      </div>
      <div class="card-body">
        <div *ngIf="'my-offers' === type">{{'OFFERS.LIST.TYPE' | translate}}
          <span class="float-right">{{item.direction | translate}}</span>
        </div>
        <div>{{'OFFERS.LIST.PRICE' | translate}}
          <span *ngIf="item.useMarketBasedPrice" class="float-right">&nbsp;({{getOfferMarketPriceMargin(item)}}%)</span>
          <span class="float-right">{{getOfferPrice(item)}}</span>
        </div>
        <div>BTC (min-max)
          <span class="float-right">{{getOfferBTCAmount(item)}}</span>
        </div>
        <div>{{'OFFERS.LIST.AMOUNT' | translate}}
          <span class="float-right">&nbsp;{{item.counterCurrencyCode}}</span>
          <span class="float-right">{{getOfferAmount(item)}}</span>
        </div>
        <div>{{'OFFERS.LIST.PAYMENT_METHOD' | translate}}
          <span class="float-right">{{item.paymentMethodId}}</span>
        </div>
      </div>
      <div class="btn rounded-0" [ngClass]="{
            'btn-primary': 'buy' === type,
            'btn-warning': 'sell' === type,
            'btn-danger': 'my-offers' === type
            }">
        <div *ngIf="'buy' === type" class="select-button" (click)="takeOffer(item)">
          <i class="fas fa-download menu-icon"></i>{{'OFFERS.LIST.BUY' | translate}}
        </div>
        <div *ngIf="'sell' === type" class="select-button" (click)="takeOffer(item)">
          <i class="fas fa-upload menu-icon"></i>{{'OFFERS.LIST.SELL' | translate}}
        </div>
        <div *ngIf="'my-offers' === type" class="select-button" (click)="deleteOffer(item)">
          <i class="fas fa-trash-alt menu-icon"></i>{{'OFFERS.LIST.DELETE' | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
