app-offers-list {
  .card {
    .select-button {
      font-size: 15px;
      i {
        margin-right: 5px;
      }
    }
  }
  .info {
    color: var(--info);
  }
  .filter-item {
    padding-left: 0;
  }
}
