app-offers-list {
  .card {
    margin-top: 10px;
    .select-button {
      font-size: 15px;
      i {
        margin-right: 5px;
      }
    }
  }
  .info {
    color: var(--info);
  }
  .filter-item {
    padding-left: 0;
  }
  .loading {
    color: lightgray;
    h1 {
      margin-right: 10px;
    }
    ion-spinner * {
      width: 40px;
      height: 40px;
      stroke: lightgray;
    }
  }
}
