app-account {
  ion-content {
    .scroll-content {
      overflow-y: hidden;
    }
    ion-tabs {
      ion-tab {
        top: 55px;
        height: calc(100vh - 76px - 55px);
        .ion-page {
          padding:10px;
        }
      }
      .tabbar {
        opacity: 1;
        overflow-x: auto;
        overflow-y: hidden;
        height: 55px;
        .tab-button {
          min-width: 100px;
        }
      }
    }
  }
}
