app-account {
  ion-content {
    ion-tabs {
      ion-tab {
        top: 55px;
        height: calc(100vh - 76px - 55px);
        .ion-page {
          padding: 10px;
          overflow-y: auto;
        }
        .buttons {
          margin-top: 15px;
          margin-bottom: 25px;
        }
        .info {
          margin-right: 5px;
          color: var(--info);
        }
      }
      .tabbar {
        opacity: 1;
        overflow-x: auto;
        overflow-y: hidden;
        height: 55px;
        .tab-button {
          min-width: 100px;
        }
      }
    }
  }
}
