app-account {
  ion-content {
    ion-tabs {
      ion-tab {
        top: 70px;
      }
      .tabbar {
        opacity: 1;
        overflow-x: auto;
        overflow-y: hidden;
        .tab-button {
          min-width: 100px;
        }
      }
    }
  }
}
