<div class="row row-padding">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">Available</div>
      <div class="card-body">0.00 BTC</div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">Reserved</div>
      <div class="card-body">0.00 BTC</div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">Locked</div>
      <div class="card-body">0.00 BTC</div>
    </div>
  </div>
</div>
